.licenseType {
   background-color: var(--color-background-light);
    padding: 1rem 4rem;

    h2 {
      margin-bottom: 8px;
    }
    /* { apply these to headings
      margin-top: 8px;
      margin-bottom: 16px;
    } */
     
    p {
      font-size: 16px;
    }
}

/* 📱 Mobile Styling */
@media (max-width: 768px) {
  .licenseType {
    padding: 24px;
    
    /*  { apply these to headings
      margin-bottom: 8px;
    } */
    p {
      font-size: 12px;
    }
  }
}