.subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 1rem 4rem;
  /* reduced right padding for small screens */
  gap: 8px;
  background-color:var(--color-background-light);
  box-sizing: border-box;
}

.heading {
  font-size: 36px;
  font-weight: 700;
  color:var(--color-font-dark);
  margin: 0;
}

.description {
  font-size: 16px;
  color:var(--color-font-dark);
  margin: 0;
}

/* 📱 Mobile Styling */
@media (max-width: 768px) {
  .heading {
    font-size: 24px;
  }

  .description {
    font-size: 12px;
  }

  .subheader {
    padding: 24px;
  }
}