.aboutUs {
  line-height: normal;
  background-color: var(--color-background-dark);
  color: var(--color-font-light);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 32px 32px 64px 32px;
  box-sizing: border-box;

  h2 {
    font-size: 16px;
    color: var(--color-font-light);
    width: calc(100% - 32px);
    @apply break-words whitespace-normal;
    line-height: 1.5;
    box-sizing: border-box;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    flex-shrink: 1;
  }
}

/* 🌐 Mobile Styling */
@media (max-width: 768px) {
  .aboutUs {
    padding: 24px;
    gap: 8px;

    h2 {
      font-size: 12px;
    }
  }
}