.extraWorkCard {
    display: flex;
    position: relative;
    align-items: flex-end;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;

    width: 320px;
    aspect-ratio: 1 / 1;
    padding: 16px;
    border-radius: 8px;
    font-size: 32px;
    font-weight: 500;
}
.extraWorkCard::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    background-color: transparent;
    opacity: 0;
}
.offsite {
    background-color: var(--color-background-dark);
    color: var(--color-font-light);

    &:hover::before {
        opacity: 0.10;
        background-color: var(--color-background-light);
    }
    &:active::before {
        opacity: 0.15;
        background-color: var(--color-background-dark);
    }
}
.bootcamp {
    background-color: var(--color-background-dark);
    color: var(--color-font-light);

    &:hover::before {
        opacity: 0.25;
        background-color: var(--color-background-dark);
    }
    &:active::before {
        opacity: 0.50;
        background-color: var(--color-background-dark);
    }
}
.cfb {
    background-color: var(--color-background-light);
    color: var(--color-font-dark);

    &:hover::before {
        opacity: 0.10;
        background-color: var(--color-background-dark);
    }
    &:active::before {
        opacity: 0.15;
        background-color: var(--color-background-dark);
    }
}


/* 🌐 Mobile Styling */
@media (max-width: 400px) {
    .extraWorkCard {
        width: 100%;
        max-width: 280px;
        padding-block: 12px;
        font-size: 14px;
   }
}