a::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
}
.offsite {
    &::before {
        background-color: #2f2f2f;
    }
    &:hover::before {
        opacity: 1;
        background-color: rgba(253, 253, 253, 0.15);
    }
    &:active::before {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.15);
    }
}
.bootcamp {
    &::before {
        background-color: rgba(0, 0, 0, 0.45);
    }
    &:hover::before {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.25);
    }
    &:active{

    }
    &:active::before {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.50);
    }
}
.cfb {
    &::before {
        background-color: #f3f3f3;
    }
    &:hover::before {
        opacity: 1;
        background-color: rgba(253, 253, 253, 0.15);
    }
    &:active::before {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.15);
    }
}
