.quote {
  width: 100%;
  text-align: center;
  padding: 48px 20px;
  box-sizing: border-box;

  h1 {
    font-family: Lora, Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    line-height: normal;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
  }
}

/* 🌐 Mobile Styling */
@media (max-width: 768px) {
  .quote {
    padding: 24px 77px;

    h1 {
      font-size: 14px;
    }
  }
}
