/*.coming-soon-image {*/
/*    display: block;*/
/*    width: 100vw;*/
/*    !* fills viewport width *!*/
/*    height: auto;*/
/*}*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Disable scrollbars */
}


.coming-soon-page {
    background:
        url("../../../assets/images/chuttersnap-DOBIZ_sqgXM-unsplash.jpg");
    background-size: cover;
    /* Ensure coverage of entire area */
    background-position: bottom center;
    /* 背景图像位置在底部中心 */
    /*background-repeat: no-repeat;*/



    width: 100%;
    /* 宽度与视口相同 */
    height: 100vh;
    /* 高度与视口相同 */
    overflow: hidden;
    /* 禁止内容溢出滚动 */

    margin: 0px;
    padding: 0px;

    /* fills viewport height */
}