.siteHeader {
  gap: 16px;
  width: 100%;
  color: var(--color-font-light);
  text-transform: uppercase;

  .logoImage {
    height: 32px;
    width: 230px;
  }

  a:hover {
    color: var(--color-font-text-links-hover);
  }
}