.siteHeader {
  padding: 32px 64px;
  color: var(--color-font-light);
  text-transform: uppercase;
  
  .logoImage {
    max-height: 32px;
    max-width: 230px;
  }

  a:hover {
    color: var(--color-font-links-hover);
  }
}

/* 🌐 Mobile Styling */
@media (max-width: 768px) {
  .siteHeader {
    padding: 18px 24px;
    
    .logoImage {
      max-height: 20px;
      max-width: 160px;
    }
  }
}