.pageheader {
    background-color: var(--color-background-dark);
    box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.45);
    color: var(--color-font-light);
    padding-inline: 4rem;

    .header-title {
        font-size: 48px;
        font-weight: 700;
        padding-block-start: 1rem;
        padding-block-end: 1rem;
    }

    .header-text {
        padding-block-end: 2rem;
    }

    .header-children {
        padding-block-end: 0;
    }
}

.boxshadow {
    box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.45);
}
