.customTable {
    width: 100%;
    table-layout: fixed;

    .tableHeader {
        background-color: var(--color-background-dark);
        color: var(--color-font-light);
        font-size: 16px;
    }

    .tableBody {
        font-weight: 400;
        font-size: 16px;

        td {
            padding: 12px 16px;
        }
    }
    
    .tableSubRow {
        td:first-child {
            padding-left: 48px;
        }
    }
}


/* 📱 Mobile Styling */
@media (max-width: 768px) {
    .customTable {
        th {
            font-weight: 500;
        }

        .tableHeader {
            font-size: 12px;
        }

        .tableBody {
            font-size: 12px;
            
            td {
                padding: 8px 12px;
            }
        }
        .tableSubRow {
            td:first-child {
                padding-left: 24px;
            }
        }
    }
}