.customTable {
    width: 100%;
    table-layout: fixed;

    .tableHeader {
        background-color: var(--color-background-dark);
        color: var(--color-font-light);
        font-weight: 500;
        font-size: 16px;
    }
    .tableBody {
        font-weight: 400;
        font-size: 16px;
    }
}


/* 📱 Responsive: Tablet and below */
@media (max-width: 1024px) {
    .customTable {
        .tableHeader {
            font-size: 14px;
        }
        .tableBody {
            font-size: 14px;
        }
    }
}

/* 📱 Responsive: Mobile */
@media (max-width: 600px) {
    .customTable {
        .tableHeader {
            font-size: 12px;
        }
        .tableBody {
            font-size: 12px;
        }
    }
}