@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwindcss-react-aria-components";

/* This file contains global (site-wide) color definiditions and text styling */

/********************/
/* Color Definitions: Single source of truth for hex codes in our codebase */
/********************/
:root {
  /* DO NOT use these variables directly */
  /* Only reference variables from the @theme block below */
  --color-white-1: #fdfdfd;
  --color-gray-dark-1: #2e2e2e;
  --color-gray-light-1: #f2f2f2;
  --color-gray-light-2: #e2e2e2;
  --color-gray-light-3: #cccccc;
  --color-gray-light-4: #bfbfbf;
  --color-red-1: #b41313;
  --color-red-2: #a61212;
  --color-red-3: #941010;
  --color-white-2: #ebebeb;
  --color-yellow-1: #f5b524;
  --color-yellow-2: #f6bd3c;
  --color-yellow-3: #db9b0a;
  --color-white-3: #eaeaea;
  --color-white-4: #cdcdcd;
  --color-gray-dark-2: #383838;
  --color-gray-dark-3: #404040;
  --color-green-1: #168500;
  --color-red-4: #a20000;
  --color-yellow-4: #e9e100;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/********************/
/* @theme Semantic Names: use these across the codebase */
/********************/
/* Tailwind creates utility classes for each of these variables. 
We defined `--color-background-light`, so we can 
now have `bg-background-light` available to use 
as a class name across the codebase. 

`bg-` is a common suffix, but for other ways 
to use custom colors see Tailwind's documentation: 
https://v3.tailwindcss.com/docs/customizing-colors#using-custom-colors */

/* Colors and associated names for this project are defined in this figma:
https://www.figma.com/design/JSN042XA3HiNNVEqdFHS01/Liquor-License-Tracker-Mockups?node-id=647-1061&t=NGbbAuEFuN9SRa4K-4 */

@theme {
  /* Base UI */
  --color-background-light: var(--color-white-1);
  --color-background-dark: var(--color-gray-dark-1);
  --color-ui-gray: var(--color-gray-light-1);
  --color-border-gray: var(--color-gray-light-2);

  /* Text */
  --color-font-light: var(--color-white-1);
  --color-font-dark: var(--color-gray-dark-1);
  --color-font-text-links-hover: var(--color-gray-light-3);
  --color-font-text-links-active: var(--color-gray-light-4);

  /* Buttons */
  --color-button-default-light: var(--color-white-1);
  --color-button-hovered-light: var(--color-white-3);
  --color-button-active-light: var(--color-white-4);

  --color-button-default-dark: var(--color-gray-dark-1);
  --color-button-hovered-dark: var(--color-gray-dark-2);
  --color-button-active-dark: var(--color-gray-dark-3);

  /* Logo */
  --color-logo-default-red: var(--color-red-1);
  --color-logo-hovered-red: var(--color-red-2);
  --color-logo-active-red: var(--color-red-3);
  --color-logo-default-white: var(--color-white-1);
  --color-logo-hovered-white: var(--color-white-2);
  --color-logo-active-white: var(--color-gray-light-4);

  /* Case Study Button */
  --color-case-study-button-default-yellow: var(--color-yellow-1);
  --color-case-study-button-hover-yellow: var(--color-yellow-2);
  --color-case-study-button-active-yellow: var(--color-yellow-3);

  /* License States */
  --color-license-accepted-green: var(--color-green-1);
  --color-license-expired-red: var(--color-red-4);
  --color-license-deferred-yellow: var(--color-yellow-4);
}


/********************/
/* Text styling */
/********************/
h1, h2, h3, h4, body, button, nav {
  font-family: 'Roboto', system-ui, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  font-weight: 500;
}
body {
  font-size: 16px;
  font-weight: 400;
}
button {
  font-size: 32px;
  font-weight: 400;
}

/* button bold... { 
  font-size: 24px;
  font-weight: 700;
} */

/* homepageDisplay {
  font-size: 32px;
  font-weight: 700;
} */

nav { /* same as body */
  font-size: 16px;
  font-weight: 400;
}

/* 
footer {
  font-size: 16px;
  font-weight: 400;
} */

/* footer sections {
  font-size: 16px;
  font-weight: 300;
} */

/* footer discalimer {
  font-size: 12px;
  font-weight: 400;
} */

/* footer discalimer title {
  font-size: 16px;
  font-weight: 600;
} */

/* footer leagal info {
  font-size: 12px;
  font-weight: 300;
} */

/* 404 {
  font-size: 24px;
  font-weight: 700;
} */

/* body italic {
  font-size: 16px;
  font-weight: 400;
} */



@media (max-width: 768px) {

  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 12px;
  }
  body {
    font-size: 12px;
  }
  button {
    font-size: 15px;
  }

  /* button bold... { 
    font-size: 14px;
  } */

  /* homepageDisplay {
    font-size: 14px;
  } */

  nav { /* same as body */
    /* font-size: 16px;  not in figma*/ 
  }

  /* 
  footer {
    font-size: 12px;
  } */

  /* footer sections {
    font-size: 14px;
  } */

  /* footer discalimer {
    font-size: 10px;
  } */

  /* footer discalimer title {
    font-size: 14px;
  } */

  /* footer leagal info {
    font-size: 12px; not in figma
  } */

  /* 404 {
    font-size: 16px;
  } */

  /* body italic {
    font-size: 12px;
  } */
}