name: Lint comments

on: [pull_request]

permissions:
  contents: write
  pull-requests: write

jobs:
  eslint:
    name: Lint with ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '20'
      - run: npm ci
        working-directory: ./client
      - uses: reviewdog/action-eslint@v1
        with:
          workdir: ./client
          eslint_flags: '.'
          reporter: github-pr-review
          filter_mode: 'added'
